@font-face
  font-family: 'Alata'
  font-style: normal
  font-weight: 400
  src: local('Alata Regular'), local('Alata-Regular'), url('../fonts/alata-v2-latin-regular.woff2') format('woff2'), url('../fonts/alata-v2-latin-regular.woff') format('woff')

@font-face
  font-family: 'Scada'
  font-style: normal
  font-weight: 400
  src: local('Scada Regular'), local('Scada-Regular'), url('../fonts/scada-v9-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/scada-v9-latin_cyrillic-regular.woff') format('woff')

@font-face
  font-family: 'Scada Bold'
  font-style: normal
  font-weight: 700
  src: local('Scada Bold'), local('Scada-Bold'), url('../fonts/scada-v9-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/scada-v9-latin_cyrillic-700.woff') format('woff')

@font-face
  font-family: 'Goldman'
  font-style: normal
  font-weight: 400
  src: local('Goldman Regular'), local('Goldman-Regular'), url('../fonts/goldman-v1-latin-regular.woff2') format('woff2'), url('../fonts/goldman-v1-latin-regular.woff') format('woff')

@font-face
  font-family: 'Goldman Bold'
  font-style: normal
  font-weight: 700
  src: local('Goldman Bold'), local('Goldman-Bold'), url('../fonts/goldman-v1-latin-700.woff2') format('woff2'), url('../fonts/goldman-v1-latin-700.woff') format('woff')

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 400
  src: url('../fonts/raleway-v18-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/raleway-v18-latin_cyrillic-regular.woff') format('woff')

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 600
  src: url('../fonts/raleway-v18-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/raleway-v18-latin_cyrillic-600.woff') format('woff')

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 500
  src: url('../fonts/raleway-v18-latin_cyrillic-500.woff2') format('woff2'), url('../fonts/raleway-v18-latin_cyrillic-500.woff') format('woff')

@font-face
  font-family: 'Raleway'
  font-style: normal
  font-weight: 700
  src: url('../fonts/raleway-v18-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/raleway-v18-latin_cyrillic-700.woff') format('woff')


html
  box-sizing: border-box
  height: 100vh

*, *::before, *::after
  box-sizing: inherit

body
  height: 100vh


  &.lock
    overflow: hidden

.container
  margin: 0 100px

.emailFormWrapper
  .requestForm
    display: flex
    width: 340px
    min-height: 300px
    background-color: rgba(0, 0, 0, 0.53)
    border: 1px solid rgba(218, 37, 29, 0.41)
    padding: 20px


    .inputField
      padding: 0 0 0 15px
      border: 1px solid rgba(218, 37, 29, 0.41)
      width: 100%
      height: 50px
      margin-bottom: 17px
      font-size: 14px

    .button
      button
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 45px
        background-color: #DA251D
        cursor: pointer
        transition: 0.2s ease

        &:hover
          transition: 0.2s ease
          background-color: #a01b14

        &:active
          background-color: #fc2b22

        h4
          font-size: 18px
          font-family: "Scada Bold", "sans-serif"
          color: white

    .infoText
      display: flex


      p
        margin-top: 10px
        text-align: justify
        font-size: 13px
        line-height: 1.4
        font-family: "Raleway", "sans-serif"
        color: rgba(255, 255, 255, 0.88)

    .error
      border: 2px red solid

    .errorMessage
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 100%
      height: 30px
      color: #ffffff
      font-weight: bold
      background-color: #DA251D
      margin-bottom: 17px
      border: 2px #DA251D solid

      &:before
        content: ""
        border: solid transparent
        position: absolute
        bottom: 100%
        left: 50%
        border-bottom-color: #DA251D
        border-width: 9px
        margin-left: -9px

  .responseForm
    display: flex
    flex-direction: column
    width: 340px
    min-height: 300px
    background-color: rgba(255, 255, 255, 0.84)
    border: 1px solid rgba(218, 37, 29, 0.41)
    padding: 20px
    font-family: "Raleway", "sans-serif"

    h3
      font-size: 33px
      line-height: 1.2
      text-align: center
      padding-bottom: 5px
      margin-bottom: 10px
      border-bottom: 1px solid #DA251D

    p
      text-align: center
      font-size: 20px
      line-height: 1.5

      b
        font-family: "Scada Bold", "sans-serif"


.appWrapper
  min-height: 100vh
  display: grid
  justify-content: center
  grid-template-columns: 1700px
  grid-template-rows: 140px 1fr 100px
  grid-row-gap: 30px
  padding: 0 50px


  &.contacts
    background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px
    background-color: #212121
    background-size: 16px 16px
    background-blend-mode: revert

  &.leasing, &.faq, &.documents, &.about
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)


  .navbarWrapper
    position: relative
    z-index: 15
    margin-top: 40px
    display: flex
    height: 100px
    justify-content: space-between
    align-items: center
    background-color: #e4e5e5

    &.leasing, &.faq, &.documents, &.about
      box-shadow: 0 0 10px 5px rgb(167, 167, 167)

    .logo
      display: flex
      align-items: center
      justify-content: center

      width: 380px
      height: 100%
      background-color: #DA251D

      img
        width: 60px
        height: auto

      .logoText
        display: flex
        flex-direction: column
        align-items: center
        font-family: "Scada Bold", "sans-serif"
        margin-left: 20px

        p
          text-transform: uppercase
          font-size: 30px
          color: white
          letter-spacing: 3px
          border-bottom: 2px solid black

        span
          font-size: 11px
          letter-spacing: -0.5px
          color: black


    .navbarMenu
      ul

        display: flex
        flex-direction: row

        li
          a
            text-decoration: none
            outline: none
            padding: 20px 15px
            text-transform: uppercase
            font-family: "Scada", "sans-serif"
            font-size: 17px
            transition: 0.20s ease-in
            cursor: pointer
            color: #333
            letter-spacing: -0.5px

            &.active
              color: #DA251D
              text-shadow: #DA251D 0 0 1px


          &:hover
            a
              transition: 0.20s ease-in
              color: #DA251D
              text-shadow: #DA251D 0 0 1px

    .navbarContacts
      display: flex
      flex-direction: row
      align-items: flex-end
      padding-right: 30px

      a
        color: #000000
        text-decoration: none
        font-family: "Scada Bold"
        outline: none
        transition: 0.3s ease
        font-size: 20px

        &:hover
          color: #DA251D
          transition: 0.3s ease

        span
          font-family: "Alata", "sans-serif"
          padding-left: 10px
          font-weight: 700

    .burgerMenu
      display: none

  .homeWrapper
    display: flex
    flex-direction: column
    height: 100%
    position: relative


    .background
      z-index: 5
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%

      img
        z-index: 1
        width: auto
        height: auto


    .headerContent
      z-index: 15
      display: grid
      grid-template-columns: 1fr 1fr
      grid-column-gap: 50px
      cursor: context-menu
      margin-top: 45px

      .leftSide
        display: flex
        flex-direction: column

        .header
          padding-top: 0
          display: flex

          h1
            font-size: 46px
            font-family: "Raleway", "sans-serif"
            font-weight: 600
            color: rgba(255, 255, 255, 0.84)
            border-bottom: 5px solid #DA251D

        .headerText
          padding-top: 40px
          max-width: 600px

          h2
            font-size: 26px
            font-family: "Raleway", "sans-serif"

            color: rgba(255, 255, 255, 0.84)

        .headerIcons
          padding-top: 70px
          display: flex
          flex-direction: column

          .iconItemWrapper

            padding: 10px 0

            .iconItem
              display: inline-flex
              align-items: center


              b
                font-family: "Alata", "sans-serif"

              span
                &:first-child
                  color: white
                  font-size: 50px
                  padding-right: 20px
                  transition: 0.20s ease-in

                &:last-child
                  outline: none
                  text-decoration: none
                  color: rgba(255, 255, 255, 0.84)
                  font-size: 25px
                  font-family: "Raleway", "sans-serif"
                  font-weight: 600
                  border-bottom: 2px solid rgba(218, 37, 29, 0)
                  transition: 0.20s ease-in

              &:hover
                span
                  &:first-child
                    color: #DA251D
                    transition: 0.20s ease-in

                  &:last-child

                    border-bottom: 2px solid #DA251D
                    transition: 0.20s ease-in

      .rightSide
        display: flex
        justify-content: center
        align-items: center

  .leasingWrapper
    overflow: hidden
    display: flex
    height: 100%

    .swiper-container
      .swiper-button-prev, .swiper-button-next
        color: #da251d

      .swiper-pagination
        .swiper-pagination-bullet
          margin: 0px 10px
          width: 20px
          height: 20px
          &.swiper-pagination-bullet-active
            background: #da251d


      .swiper-wrapper
        .swiper-slide

          .leasingItem
            padding: 40px
            height: 100%
            display: grid
            grid-template-columns: 2fr 1fr
            grid-template-rows: 1fr
            grid-column-gap: 40px


            .leftSide
              text-align: left
              display: flex
              flex-direction: column
              padding-left: 40px


              .header
                display: inline-flex
                margin-bottom: 60px

                h1
                  font-size: 40px
                  font-family: "Raleway", "sans-serif"
                  font-weight: 600
                  color: rgba(0, 0, 0, 0.90)
                  border-bottom: 4px solid #DA251D

              .description
                margin-top: 40px
                display: grid
                grid-template-columns: 30px 1fr
                grid-row-gap: 30px

                p, span
                  font-size: 27px
                  font-family: "Scada", "sans-serif"
                  color: rgba(0, 0, 0, 0.90)

            .rightSide
              display: flex
              align-items: center
              padding-right: 30px

              .leasingImage
                img
                  width: 100%


  .contactsWrapper
    .contactsHeader
      margin: 30px 0 20px
      display: inline-flex

      h1
        position: relative
        z-index: 2
        font-size: 46px
        font-family: "Raleway", "sans-serif"
        font-weight: 600
        color: #D6D8D9
        border-bottom: 5px solid #DA251D

    .contactsContent
      margin-top: 45px
      position: relative
      z-index: 2
      display: grid
      grid-template-columns: 2fr 1fr

      .leftSide
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr

        .block-item
          display: grid
          grid-template-columns: 1fr 5fr
          color: #e2e2e2
          //&.whatsapp-block
          //  .icon
          //    color: #2AB640
          //
          //&.email-block
          //  .icon
          //    color: #ffffff
          //
          //&.phone-block
          //  .icon
          //    color: #1D4383
          //
          //&.address-block
          //  .icon
          //    color: #DA251D

          .icon
            font-size: 50px


          .description
            display: grid
            grid-template-rows: 1fr 4fr

            a
              text-decoration: none
              color: #D6D8D9
              transition: all 0.25s ease
              outline: none

              &:hover
                color: #DA251D


            .title
              font-family: "Raleway", "sans-serif"
              font-size: 22px
              font-weight: 700

            .text
              font-family: "Scada", "sans-serif"
              font-size: 18px
              letter-spacing: 0.5px
              line-height: 1.4


      .rightSide
        display: flex
        justify-content: center



    .map
      position: relative
      z-index: 2
      display: grid
      margin-top: 40px

    .requisitesWrapper
      padding-top: 35px
      border-top: 1px dashed #dadada
      margin-top: 45px
      position: relative
      z-index: 2
      color: #D6D8D9
      display: grid
      grid-template-columns: 1fr 1fr
      grid-column-gap:

      h2
        position: relative
        z-index: 2
        font-size: 35px
        font-family: "Raleway", "sans-serif"
        font-weight: 500
        color: #D6D8D9
        border-bottom: 4px solid #DA251D
        margin-bottom: 25px

      .requisites
        display: flex
        flex-direction: column

        .requisitesHeader
          display: inline-flex


        p
          font-family: "Raleway", "sans-serif"
          font-size: 27px
          font-weight: 500
          line-height: 1.4


        span
          font-family: "Scada", "sans-serif"
          font-size: 15px

          line-height: 1.4
          margin-bottom: 10px

      .generalWrapper
        display: flex
        justify-content: center

        .general
          display: flex
          flex-direction: column
          align-items: center

          img
            margin: 20px 0
            width: auto
            height: 280px

          h4
            font-family: "Raleway", "sans-serif"
            font-size: 27px
            font-weight: 500
            line-height: 1.4

  .footerWrapper
    padding-top: 10px
    position: relative
    z-index: 14
    background-color: rgba(0, 0, 0, 0.53)
    height: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-content: center

    .footerItem
      display: flex
      flex-direction: column
      align-items: center
      opacity: 0.5
      transition: 0.2s ease-in

      a
        text-decoration: none
        font-family: "Scada Bold", "sans-serif"
        outline: none
        color: rgba(255, 255, 255, 0.84)

      .icon
        margin-bottom: 10px

        a
          font-size: 40px

      .text
        a
          font-size: 16px

      &:hover
        opacity: 1
        transition: 0.2s ease-in

@media (max-width: 1600px)
  .appWrapper
    grid-template-columns: 100%
    grid-template-rows: 125px 1fr 100px
    grid-row-gap: 20px

    .container
      margin: 0 50px

      .navbarWrapper
        height: 80px
        margin-top: 25px

        .logo
          img
            width: 50px

          .logoText
            p
              font-size: 27px

            span
              font-size: 10px

        .navbarMenu
          ul
            li
              a
                font-size: 15px

      .homeWrapper
        .headerContent
          .leftSide
            .header
              padding-top: 0

              h1
                font-size: 45px

            .headerText
              padding-top: 20px

              h2
                font-size: 24px

            .headerIcons
              .iconItemWrapper
                padding: 6px 0

                .iconItem
                  span:first-child
                    font-size: 47px

                  span:last-child
                    font-size: 23px

      .leasingWrapper
        .swiper-container
          .swiper-pagination
            .swiper-pagination-bullet
              margin: 0px 10px
              width: 17px
              height: 17px
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                padding: 10px 40px
                .leftSide
                  .header
                    h1
                      font-size: 35px

                  .description
                    grid-row-gap: 20px
                    p, span
                      font-size: 22px

      .contactsWrapper
        .contactsHeader
          margin: 20px 0 20px

          h1
            font-size: 45px

        .contactsContent
          .leftSide
            grid-template-rows: repeat(2, 120px)

            .block-item
              .icon
                font-size: 50px

              .description
                grid-template-rows: 1fr 3fr

          .rightSide
            .emailFormWrapper
              .requestForm
                .inputField
                  height: 42px

                .button
                  button
                    height: 42px

@media (max-width: 1440px)
  .appWrapper
    grid-template-columns: 100%
    padding: 0

    .container
      margin: 0

      .navbarWrapper
        .navbarMenu
          ul
            li
              a
                font-size: 16px
                padding: 20px 12px

      .homeWrapper
        padding: 0 50px

        .background
          img
            height: auto
            width: 100%

      .leasingWrapper
        padding: 0 50px

      .contactsWrapper
        padding: 0 50px


@media (max-width: 1366px)
  .appWrapper
    grid-template-columns: 100%
    grid-template-rows: 80px 1fr 100px
    padding: 0

    .container
      margin: 0

      .navbarWrapper
        height: 100%
        margin-top: 0

        .logo
          width: 295px

          img
            width: 45px

          .logoText
            p
              font-size: 24px

            span
              font-size: 9px

        .navbarMenu
          ul
            li
              a
                font-size: 16px
                padding: 20px 10px

        .navbarContacts
          padding-right: 14px

          a
            font-size: 20px

      .homeWrapper
        padding: 0 30px

        .background
          img
            width: auto
            height: 100%

        .headerContent
          margin-top: 90px

          .leftSide
            .header
              padding-top: 15px

              h1
                font-size: 56px

            .headerText
              h2
                font-size: 25px

            .headerIcons
              padding-top: 70px

              .iconItemWrapper
                padding: 8px 0

      .leasingWrapper
        align-items: center

        .swiper-container
          .swiper-button-prev
            width: 40px
            height: 40px
            left: 0

          .swiper-button-next
            width: 40px
            height: 40px
            right: 0


          .swiper-pagination
            .swiper-pagination-bullet
              width: 25px
              height: 25px
              margin: 0 14px
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                margin-bottom: 95px

                .leftSide
                  .description
                    grid-row-gap: 25px

                    p, span
                      font-size: 22px

      .contactsWrapper
        padding: 0 40px

        .contactsHeader
          h1
            font-size: 50px

        .contactsContent
          .leftSide
            .block-item

              .icon
                font-size: 50px

              .description
                grid-template-rows: 1fr 4fr

                .title

                .text
                  line-height: 1.2

        .requisitesWrapper
          .generalWrapper
            justify-content: flex-end

@media (max-width: 1366px) and (max-height: 800px)
  .appWrapper
    grid-template-rows: 65px 1fr 85px

    .container
      .navbarWrapper
        .navbarMenu
          ul
            li
              a
                font-size: 15px

        .navbarContacts
          padding-right: 20px

          a
            font-size: 17px

            span
              padding-left: 0

      .homeWrapper
        .background
          img
            width: 100%
            height: auto

        .headerContent
          margin-top: 35px

          .leftSide
            .header
              h1
                font-size: 40px

            .headerText
              padding-top: 12px

              h2
                font-size: 20px

            .headerIcons
              .iconItemWrapper
                padding: 3px 0

                .iconItem span:first-child
                  font-size: 40px

                .iconItem span:last-child
                  font-size: 20px

          .rightSide
            align-items: flex-end

            .emailFormWrapper
              .requestForm
                .inputField
                  height: 45px

      .leasingWrapper
        align-items: flex-start

        .swiper-container
          .swiper-pagination
            .swiper-pagination-bullet
              width: 15px
              height: 15px
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                margin-bottom: 60px

                .leftSide
                  .header
                    h1
                      font-size: 30px

                  .description
                    grid-row-gap: 21px

                    p, span
                      font-size: 20px

      .footerWrapper
        .footerItem
          .icon
            a
              font-size: 35px

@media (max-width: 1200px)
  .appWrapper
    grid-template-columns: 100%
    grid-template-rows: 80px 1fr 100px
    padding: 0

    .container
      margin: 0

      .navbarWrapper
        height: 100%
        margin-top: 0

        &.leasing, &.faq, &.documents, &.about
          box-shadow: 0 0 8px 4px rgb(167, 167, 167)

        .logo
          width: 295px

          img
            width: 45px

          .logoText
            p
              font-size: 24px

            span
              font-size: 9px

        .navbarMenu
          ul
            li
              a
                font-size: 14px
                padding: 20px 10px

        .navbarContacts
          padding-right: 14px

          a
            font-size: 14px

      .homeWrapper
        padding: 0 30px

        .background
          img
            width: auto
            height: 100%

        .headerContent
          &.horizontal
            margin-top: 60px

          .leftSide
            .header
              padding-top: 15px

              h1
                font-size: 45px

            .headerText
              h2
                font-size: 25px

          .rightSide
            justify-content: flex-end

      .contactsWrapper
        padding: 0 40px

        .contactsHeader
          h1
            font-size: 46px

        .contactsContent
          grid-template-columns: 1fr

          .leftSide
            .block-item
              .icon
                font-size: 65px

              .description
                grid-template-rows: 1fr 3fr

                .title
                  font-size: 30px
                  line-height: 1.4

                .text
                  font-size: 22px
                  line-height: 1.3

          .rightSide
            .emailFormWrapper
              .requestForm
                width: 100%

        .requisitesWrapper
          border-top: none
          padding-top: 15px

          h2
            font-size: 30px

          .requisites
            p
              line-height: 1.6
              font-size: 24px

          .generalWrapper
            .general
              h4
                font-size: 23px

@media (max-width: 1024px)
  .appWrapper
    grid-template-columns: 100vw
    grid-template-rows: 90px 1fr 100px

    .container
      margin: 0

      .navbarWrapper
        margin-top: 0
        background-color: #da251d
        height: 100%
        margin-bottom: 20px

        .logo
          width: 380px

          img
            width: 60px

          .logoText
            p
              font-size: 30px

            span
              font-size: 11px

        .navbarMenu
          padding-bottom: 90px
          z-index: 15
          position: fixed
          background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 18%, rgba(255, 255, 255, 0.75) 36%, rgba(255, 255, 255, 0.9) 54%, rgba(255, 255, 255, 1) 72%)
          left: 100%
          top: 90px
          width: 100%
          height: 100%
          transition: all 0.3s ease

          ul
            display: block

            li
              padding: 20px 0
              text-align: right

          &.active


            left: 0

        .navbarContacts
          a
            font-size: 20px

            span
              color: white

        .burgerMenu
          display: block
          position: relative
          width: 30px
          height: 20px
          margin-right: 15px

          &:before, &:after
            position: absolute
            content: ""
            width: 100%
            height: 2px
            left: 0
            background-color: white
            transition: all 0.2s ease 0.2s

          &:before
            top: 0

          &:after
            bottom: 0

          span
            position: absolute
            width: 100%
            height: 2px
            left: 0
            background-color: white
            top: 9px
            transition: all 0.11s ease 0.2s

          &.active

            span
              opacity: 0
              transition: all 0.11s ease

            &:before
              transform: rotate(45deg)
              transition: all 0.11s ease
              top: 9px

            &:after
              transform: rotate(-45deg)
              transition: all 0.15s ease
              bottom: 9px

      .homeWrapper
        padding: 0 20px

        .background
          left: -164px

          img
            height: 100%
            width: auto

          &.horizontal
            left: 0

            img
              height: 100%
              width: auto

        .headerContent
          grid-template-columns: 1fr
          position: relative
          z-index: 10
          padding: 0 35px

          &.horizontal
            margin-top: 50px
            grid-template-columns: 1fr 1fr
            padding: 0

            .leftSide
              .header
                padding-top: 0

                h1
                  font-size: 43px
                  border-bottom: 4px solid #DA251D
                  margin: 0

              .headerText
                padding-top: 24px

                h2
                  font-size: 27px

              .headerIcons
                margin-bottom: 0

                .iconItemWrapper
                  padding: 7px 0

                  .iconItem
                    span
                      &:first-child
                        font-size: 45px

                      &:last-child
                        font-size: 22px

            .rightSide
              .emailFormWrapper
                .requestForm
                  display: flex
                  width: 340px
                  min-height: 300px
                  background-color: rgba(0, 0, 0, 0.53)
                  border: 1px solid rgba(218, 37, 29, 0.41)
                  padding: 20px

                  .inputField
                    height: 50px
                    margin-bottom: 17px

                  .button
                    button
                      height: 45px

          .leftSide
            .header
              padding-top: 10px

              h1
                font-size: 70px
                border-bottom: 5px solid #DA251D
                margin-bottom: 10px

            .headerText
              h2
                font-size: 35px

            .headerIcons
              margin-bottom: 30px

              .iconItemWrapper
                padding: 7px 0

                .iconItem
                  span
                    &:first-child
                      font-size: 70px

                    &:last-child
                      font-size: 35px

          .rightSide
            justify-content: center

            .emailFormWrapper
              .requestForm
                width: 100%

                .inputField
                  height: 60px
                  margin-bottom: 25px

                .button
                  button
                    height: 55px

              .responseForm
                width: 100%

      .leasingWrapper
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                grid-template-columns: 1fr
                grid-row-gap: 30px

                .leftSide
                  .header
                    h1
                      font-size: 42px

                  .description
                    grid-row-gap: 25px

                    p, span
                      font-size: 27px

                .rightSide
                  .leasingImage
                    text-align: center

                    img
                      width: 80%

      .contactsWrapper
        .contactsHeader
          h1
            font-size: 40px
            border-bottom-width: 4px

        .contactsContent
          grid-template-columns: 1fr

          .leftSide
            .block-item
              .icon
                font-size: 55px

              .description
                grid-template-rows: 1fr 2fr

                .title
                  font-size: 25px
                  line-height: 1.4

                .text
                  font-size: 18px
                  line-height: 1.3

          .rightSide
            .emailFormWrapper
              .requestForm
                width: 100%

        .requisitesWrapper
          h2
            font-size: 25px
            border-bottom-width: 2px

          .requisites
            p
              line-height: 1.4
              font-size: 24px

          .generalWrapper
            .general
              img
                height: 250px

              h4
                font-size: 20px

@media (max-width: 1024px) and (max-height: 800px)
  .appWrapper
    .container
      .leasingWrapper
        padding: 0 20px
        align-items: center

        .swiper-container
          .swiper-pagination
            .swiper-pagination-bullet
              width: 20px
              height: 20px
              margin: 0 14px
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                margin-bottom: 100px
                grid-template-columns: 4fr 3fr
                grid-template-rows: 1fr
                grid-column-gap: 20px

                .leftSide
                  padding-left: 40px

                  .header
                    margin-bottom: 20px

                    h1
                      font-size: 28px

                  .description
                    p, span
                      font-size: 20px

                .rightSide
                  .leasingImage
                    img
                      width: 100%

@media (max-width: 930px)
  .appWrapper
    grid-template-rows: 90px 1fr 100px
    grid-row-gap: 20px

    .container
      .navbarWrapper
        .navbarMenu
          &.active
            overflow: auto

      .homeWrapper
        .background
          &.horizontal
            left: 0

            img
              height: auto
              width: 100%

        .headerContent
          grid-template-columns: 1fr
          margin-top: 50px

          &.horizontal
            grid-template-columns: 1fr

            .rightSide
              .emailFormWrapper
                .requestForm
                  width: 100%

          .leftSide
            .header
              h1
                font-size: 50px

            .headerText
              padding-top: 13px

              h2
                font-size: 26px

            .headerIcons
              padding-top: 36px
              margin-bottom: 10px

              .iconItemWrapper
                padding: 5px 0

                .iconItem
                  span
                    &:first-child
                      font-size: 50px

                    &:last-child
                      font-size: 25px

          .rightSide
            .emailFormWrapper
              margin-top: 15px

              .requestForm
                width: 100%
                min-height: 200px

                form
                  .inputField
                    height: 40px
                    margin-bottom: 17px

                  .button
                    button
                      height: 40px

              .responseForm
                width: 100%
                min-height: 200px

                h3
                  font-size: 30px

                p
                  font-size: 18px

      .contactsWrapper
        .contactsHeader
          h1
            font-size: 40px
            border-bottom-width: 4px

        .contactsContent
          grid-template-columns: 1fr

          .leftSide
            margin-bottom: 20px

            .block-item
              .icon
                font-size: 45px

              .description
                grid-template-rows: 1fr 2fr

                .title
                  font-size: 22px
                  line-height: 1.3

                .text
                  font-size: 16px
                  line-height: 1.4

          .rightSide
            .emailFormWrapper
              .requestForm
                width: 100%

        .requisitesWrapper
          h2
            font-size: 25px
            border-bottom-width: 2px

          .requisites
            p
              line-height: 1.4
              font-size: 24px

          .generalWrapper
            .general
              img
                height: 250px

              h4
                font-size: 20px

      .leasingWrapper
        .swiper-container
          .swiper-pagination
            .swiper-pagination-bullet
              width: 20px
              height: 20px
              margin: 0 14px
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                .leftSide
                  padding-left: 20px
                  .header
                    margin-bottom: 25px

                    h1
                      font-size: 30px

                  .description
                    p, span
                      font-size: 20px

                .rightSide
                  .leasingImage
                    img
                      width: 70%

      .footerWrapper
        padding-top: 10px

        .footerItem
          .icon
            margin-bottom: 5px

            a
              font-size: 30px

          .text
            text-align: center

@media (max-width: 930px) and (max-height: 500px)
  .appWrapper
    grid-row-gap: 0

    .container
      .leasingWrapper
        .swiper-container
          .swiper-button-prev, .swiper-button-next
            display: none
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                grid-template-columns: 1fr
                padding: 15px

                .leftSide
                  .header
                    margin-bottom: 0

                    h1
                      font-size: 28px
                      border-width: 3px

                  .description
                    grid-row-gap: 10px
                    margin-top: 15px

                    p, span
                      font-size: 17px


@media (max-width: 767px)
  .appWrapper
    display: grid
    grid-template-columns: 100vw
    grid-template-rows: 50px 1fr 160px
    row-gap: 20px
    padding: 0
    background-blend-mode: color
    -moz-background-size: 100%
    -webkit-background-size: 100%
    -o-background-size: 100%
    background-size: 100%

    .container
      margin: 0
      padding: 0

      .navbarWrapper
        margin-top: 0
        height: 50px
        background-color: rgb(218, 37, 29)
        position: fixed
        left: 0
        right: 0
        z-index: 50

        .logo
          background-color: rgba(218, 37, 29, 0)
          width: 280px

          img
            width: 40px

          .logoText
            p
              font-size: 23px

            span
              font-size: 9px

        .navbarMenu
          padding-bottom: 50px
          top: 50px

        .navbarContacts
          display: none

        .burgerMenu
          display: block
          position: relative
          width: 30px
          height: 20px
          margin-right: 15px

          &:before, &:after
            position: absolute
            content: ""
            width: 100%
            height: 2px
            left: 0
            background-color: white
            transition: all 0.2s ease 0.2s

          &:before
            top: 0

          &:after
            bottom: 0

          span
            position: absolute
            width: 100%
            height: 2px
            left: 0
            background-color: white
            top: 9px
            transition: all 0.11s ease 0.2s

          &.active

            span
              opacity: 0
              transition: all 0.11s ease

            &:before
              transform: rotate(45deg)
              transition: all 0.11s ease
              top: 9px

            &:after
              transform: rotate(-45deg)
              transition: all 0.15s ease
              bottom: 9px

      .homeWrapper
        padding: 0 25px

        .background
          left: -240px

          img
            width: auto
            height: 100%

          &.horizontal
            left: 0

            img
              width: 100%
              height: auto


        .headerContent
          &.horizontal
            margin-top: 25px

            .leftSide
              .header
                h1
                  font-size: 36px

              .headerText
                padding-top: 15px

                h2
                  font-size: 20px

              .headerIcons
                margin-bottom: 17px

                .iconItemWrapper
                  padding: 4px 0

                  .iconItem
                    span
                      &:first-child
                        font-size: 32px

                      &:last-child
                        font-size: 19px

            .rightSide
              .emailFormWrapper
                .requestForm
                  min-height: 200px

                  .inputField
                    height: 40px

          .leftSide
            .header
              padding-top: 40px

              h1
                font-size: 40px

            .headerText
              max-width: 100%
              padding-top: 30px

              h2
                font-size: 27px

            .headerIcons
              margin-bottom: 40px

              .iconItemWrapper
                padding: 4px 0

                .iconItem
                  span
                    &:first-child
                      font-size: 40px

                    &:last-child
                      font-size: 22px

          .rightSide
            margin-bottom: 10px

      .contactsWrapper
        padding: 0 15px

        .contactsHeader
          margin: 10px 0 20px

          h1
            font-size: 34px
            border-bottom-width: 4px

        .contactsContent
          margin-top: 25px
          grid-template-columns: 1fr

          .leftSide
            margin-bottom: 20px

            .block-item
              .icon
                font-size: 37px

              .description

                .title
                  font-size: 20px
                  line-height: 1.3

                .text
                  font-size: 14px
                  line-height: 1.4

          .rightSide
            .emailFormWrapper
              .requestForm
                width: 100%
                min-height: 250px

                .inputField
                  height: 40px

                .button
                  button
                    height: 40px

        .requisitesWrapper
          grid-template-columns: 1fr

          h2
            font-size: 35px
            border-bottom-width: 2px

          .requisites
            padding-bottom: 20px
            border-bottom: 1px dashed #dadada

            .requisitesHeader
              justify-content: center

            p
              line-height: 1.4
              font-size: 24px

          .generalWrapper
            margin-top: 30px
            justify-content: center

            .general


              img
                height: 250px

              h4
                font-size: 20px


      .footerWrapper
        grid-template-columns: 1fr
        grid-template-rows: repeat(3, 1fr)
        justify-content: left
        padding: 0 20px

        .footerItem
          display: flex
          flex-direction: row
          align-items: center

          .icon
            margin-right: 20px

          .text
            text-align: left
            line-height: 1.2


@media (max-width: 767px) and (max-height: 440px)
  .appWrapper
    grid-row-gap: 0

    .container
      .leasingWrapper
        .swiper-container
          .swiper-button-prev, .swiper-button-next
            display: none
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                margin-bottom: 65px



@media (max-width: 520px)
  .emailFormWrapper
    .requestForm
      width: 380px

      form
        .inputField
          height: 40px

        .button
          button
            height: 40px

    .responseForm
      width: 380px
      min-height: 200px

      h3
        font-size: 30px

      p
        font-size: 18px

  .appWrapper
    grid-template-rows: 50px 1fr 160px
    grid-row-gap: 0

    .container
      .homeWrapper
        padding: 0 10px

        .headerContent
          padding: 0
          margin-top: 8px

          .leftSide
            .header
              padding-top: 22px

              h1
                font-size: 39px
                border-bottom: 3px solid #DA251D

            .headerText
              padding-top: 12px

              h2
                font-size: 20px
                line-height: 1.4

            .headerIcons
              margin-bottom: 30px
              padding-top: 42px

              .iconItemWrapper
                .iconItem
                  span
                    &:first-child
                      font-size: 44px

                    &:last-child
                      font-size: 23px

      .leasingWrapper
        margin: 30px 0
        align-items: flex-start
        padding: 0 15px
        grid-column-gap: 15px

        .swiper-container
          .swiper-button-prev, .swiper-button-next
            display: none
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                margin-bottom: 40px
                grid-template-columns: 1fr
                padding: 0

                .leftSide
                  padding-left: 10px

                  .header
                    margin-bottom: 0

                    h1
                      border-bottom: none
                      font-size: 26px


      .contactsWrapper
        .contactsContent
          .leftSide
            grid-template-columns: 1fr
            grid-template-rows: repeat(4, 1fr)
            grid-row-gap: 5px

            .block-item
              .icon
                font-size: 46px

              .description
                .title
                  font-size: 24px

                .text
                  font-size: 18px

        .requisitesWrapper
          h2
            font-size: 30px


@media (max-width: 408px)
  .emailFormWrapper
    .requestForm
      width: 100%

    .responseForm
      width: 100%
      min-height: 200px

      h3
        font-size: 24px

      p
        font-size: 14px


  .appWrapper
    .container
      .homeWrapper
        .headerContent
          .leftSide
            .header
              h1
                font-size: 35px

            .headerIcons
              .iconItemWrapper
                .iconItem
                  span
                    &:first-child
                      font-size: 40px

                    &:last-child
                      font-size: 21px

      .leasingWrapper
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                margin-bottom: 85px
                .leftSide
                  .description
                    p, span
                      font-size: 18px

      .contactsWrapper
        .contactsContent
          .leftSide

            .block-item
              .icon
                font-size: 45px

              .description
                .title
                  font-size: 22px

                .text
                  font-size: 17px

        .requisitesWrapper
          h2
            font-size: 27px


@media (max-width: 361px)
  .emailFormWrapper
    .errorMessage
      font-size: 14px


  .appWrapper
    .container
      .navbarWrapper
        .logo
          img
            width: 35px

          .logoText
            p
              font-size: 21px

            span
              font-size: 8px

      .homeWrapper
        .headerContent
          .leftSide
            .header
              h1
                font-size: 30px

            .headerIcons
              .iconItemWrapper
                .iconItem
                  span
                    &:first-child
                      font-size: 40px

                    &:last-child
                      font-size: 17px

      .leasingWrapper
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .leasingItem
                margin-bottom: 80px
                .leftSide
                  .description
                    grid-row-gap: 17px

      .contactsWrapper
        .contactsContent
          .leftSide

            .block-item
              .icon
                font-size: 40px

              .description
                .title
                  font-size: 20px

                .text
                  font-size: 15px

        .requisitesWrapper
          h2
            font-size: 25px

          .requisites
            p
              font-size: 21px

            span
              font-size: 13px
              margin-bottom: 15px
